# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.env

# Pytest and Coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml
coverage.txt

# IDEs and Editors
.vscode/
.idea/
*.swp
.DS_Store

# Distribution / Packaging
dist/
build/
*.egg-info/